/* DELETE THIS */
html * {
	overflow: hidden;
}

header {
	#logo {
		display: flex;
		gap: 10px;
		font-weight: 600;

		font-size: 14px;
		> i {
			font-size: 28px;
			color: red;
		}
	}
}

main {
	align-items: center;
	div {
		flex-direction: column;
	}
}
