header {
	display: flex;
	align-items: center;
	justify-content: end;
}

main {
	flex-direction: column;
	align-items: center;

	section {
		flex-direction: column;
		gap: 20px;
		padding: 20px;

		.row {
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
			gap: 25px;
			font-size: 16px;
			padding: 25px;
			background-color: rgba(244, 244, 244, 0.622);
			border-radius: 20px;

			h2 {
				display: block;
				text-wrap: wrap;
				line-height: 1.5em;

				span {
					display: inline-flex;
					align-items: center;
					vertical-align: middle;

					a {
						display: inline-flex;
						align-items: center;
						justify-content: center;
					}
				}

				i {
					margin-left: 6px;
				}
			}

			h3 {
				flex-shrink: 0;
				height: fit-content;
			}
		}
	}
}
